body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

.project {
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 400px;
    
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#projects:hover{
    cursor:pointer;
    box-shadow: 0px 30px 100px red;
    background-color: pink;
}
#about:hover{
    cursor:pointer;
    box-shadow: 0px 10px 100px red;
    background-color: pink;
}
#contact:hover{
    cursor:pointer;
    box-shadow: 0px 10px 30px red;
    background-color: pink;
}
.project:hover{
    cursor: pointer;
    background-color: skyblue;
    box-shadow: 10px 10px 100px yellow;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}